@media screen and (max-width: 431px) {
    #popular {
        margin-left: 8%;

    }

    #popular1 {
        margin-left: 8%;

    }

    #categoryy {
        margin-left: 20%;

    }

    #acses {
        margin-left: 25%;
    }


































}